{% extends "base.html" %}
{% block main %}

    <div style="margin-top: 50px;margin-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h2>Add Medicines from CSV</h2>
                        <h2>{{ message }}</h2>

                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <select name="file" class="form-control">
                                        {% for file in files %}
                                            <option value="{{ file.name }}">{{ file.name }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>


                            <br>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}