{% extends "base.html" %}
{% block main %}

    <div style="margin-top: 50px;margin-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h2>Upload CSV</h2>
                        <h5 style="color: red">{{ message }}</h5>
                        <h5>The format should be: medicine_name,type,allowed_frequency (0: Only once, 1: Multiple)</h5>

                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.as_p }}
                                </div>
                            </div>


                            <br>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


