{% include "base.html" %}
{% load static %}
{% block main %}
    {{ super }}

    <section class="portfolio-block website gradient">
        <div class="container" >
            <div class="row align-items-center" >
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>PrescriptionPortal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat
                        est
                        sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel,
                        porttitor
                        eros.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content"
                                 style="background-image:{% static 'img/avatars/avatar.jpg' %}"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}