{% extends "base.html" %}
{#{% load custom_tags %}#}
{% load widget_tweaks %}
{% block main %}
    <div style="margin-top: 50px;margin-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h2>Login</h2>
                        <h5 style="color: red">{{ message }}</h5>
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {% render_field field class="form-control" %}
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{% url 'register' %}">Don't have an account yet? Register</a>
                            <br>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary" type="submit">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}