{% extends "base.html" %}
{% block main %}
    <div style="margin-top: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="width: 343px;">Patient Prescription</h2>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start" style="margin-top: 10px;"></div>
                <div class="col" >
                    {% if user_type == 1 %}
                    <button class="btn btn-danger"
                            style="border: none;width: 151px;height: 37px;color: rgb(255,255,255);background: #8d87e3;margin-top: 10px;"
                            type="button" onclick="location.href='{% url 'order_complete' prescription_id %}'">Complete
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="example" style="margin-bottom: 50px;margin-top: 10px" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Note</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if prescription|length < 1 %}
                            <td colspan="5" style="text-align: center;">No medicines added to this prescription</td>
                        {% endif %}
                        {% for medicine in prescription %}
                        <tr>
                            <td>{{ medicine.name }}</td>
                            <td>{{ medicine.type }}</td>
                            <td>{{ medicine.note }}</td>
                            <td>{{ medicine.quantity }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}