{% extends "base.html" %}
{% load custom_tags %}
{% load widget_tweaks %}
{% block main %}
    <div style="margin-top: 50px;margin-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h2>Profile</h2>
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in profile_form %}
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" value=user_dict|get_item:field.html_name %}
                                    </div>
                                </div>
                            {% endfor %}
                            <br>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}